<div class="main">

    <div class="bio">
        <h1>
            About Me
        </h1>
    
        <p>
            Hi, I'm Dalila! 🤍
        </p>
    
        <p>
            I'm a recent Mathematics-Computer Science graduate from the <a href="https://ucsd.edu/">University of California, San Diego</a>.
        </p>
    
        <p>
            I'm passionate about solving complex problems and creating art through coding. I aspire to work as a  
            software engineer, specifically in the areas of front-end development and full-stack. Game development
            is a realm I'm also most curious about currently!
        </p>
    
        <p>
            I'm always looking to make meaningful connections and network with more like-minded individuals in the 
            world of tech! That also includes finding new opportunities to collaborate and create something amazing.
            If you're interested in working together or would like to connect, don't hesitate to <a href="/contact">reach out</a>!
        </p>
    </div>

    <div class="pets">
        <h1>
            My Babies
        </h1>
    
        <p>
            I'm also a parent to one lazy French Bulldog, <a href="/assets/milo.jpg">Milo</a>, 🐕 and one curious Veiled <a href="/assets/marley.jpg">Chameleon</a>, Marley! 🦎
        </p>
    </div>

    <div class="hobbies">
        <h1>
            Hobbies
        </h1>
    
        <p>
            When I'm not coding, I enjoy spending my time on a variety of hobbies. Here are a few of my favorites:
        </p>
    
        <ul>
            <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
        </ul>
    </div>

</div>