<h1>
    About Me
</h1>

<p>
    Hi, I'm Dalila!
</p>

<p>
    I'm a recent Mathematics-Computer Science graduate from University of California, San Diego.
</p>

<p>
    I'm passionate about solving complex problems and creating art through coding. I aspire to work as a  
    software engineer, specifically in the areas of front-end development and full-stack. Game developement
    is a realm I'm also most curious about currently!
</p>

<p>
    I'm always looking to make meaningful connections and network with more like-minded individuals in the 
    world of tech! That also includes finding new opportunites to collaborate and create something amazing.
    If you're interested in working together or would like to connect, don't hesitate to reach out!
</p>


<h1>
    My Babies
</h1>

<p>
    I'm also a parent to one lazy French Bulldog, Milo, and one curious Veiled Chameleon, Marley!
</p>


<h1>
    Hobbies
</h1>

<p>
    When I'm not coding, I enjoy spending my time on a variet of hobbies. Here are a few of my favorites:
</p>

<ul>
    <li>
        Gaming
    </li>
    <li>
        Drawing
    </li>
    <li>
        Painting
    </li>
    <li>
        Yoga
    </li>
    <li>
        Baking
    </li>
    <li>
        Photography
    </li>
    <li>
        Music
    </li>
    <li>
        Swimming
    </li>
    <li>
        Pin Collecting
    </li>
    <li>
        Stickers
    </li>
    <li>
        Plushies
    </li>
    <li>
        Napping
    </li>
</ul>