<div class="main">
    <div class="email">
        <h1>
            Email Me
        </h1>

        <p>
            <a href="mailto:dalilaeileensolis&#64;gmail.com">dalilaeileensolis&#64;gmail.com</a>
        </p>
    </div>

    <div class="socials">
        <h1>
            Socials
        </h1>

        <ul>
            <li>
                <a href="https://www.linkedin.com/in/dalila-solis-993b85319/">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/d1solis">GitHub</a>
            </li>
        </ul>
    </div>

    <h1>
        Let's Chat!
    </h1>

    <div class="myform">
        <form>
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="firstname" placeholder="Your first name.."/>
            <br>

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.."/>
            <br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="emailadress" placeholder="Your email.."/>
            <br>

            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

