<div class="main">
    <div class="email">
        <h1>
            Email Me
        </h1>

        <p *ngIf="showEmail">{{ email }}</p>
        <button (click)="toggleEmail()">Toggle Email</button>
    </div>

    <div class="socials">
        <h1>
            Socials
        </h1>

        <ul>
            <li>
                <a href="https://www.linkedin.com/in/dalila-solis-993b85319/">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/d1solis">GitHub</a>
            </li>
        </ul>
    </div>

    <h1>
        Let's Chat!
    </h1>

    <div class="myform">
        <form (ngSubmit)="onSubmit()">
            <label for="userName">First Name:</label>
            <input [(ngModel)]="userName" id="userName" name="userName" type="text" placeholder="Enter your first name" />
            <br>
    
            <label for="userLastName">Last Name:</label>
            <input [(ngModel)]="userLastName" id="userLastName" name="userLastName" type="text" placeholder="Enter your last name" />
            <br>
    
            <label for="userEmail">Email:</label>
            <input [(ngModel)]="userEmail" id="userEmail" name="userEmail" type="text" placeholder="Enter your email" />
            <br>
    
            <button type="submit">Submit</button>
        </form>
    
        <!-- Show the message only if the form is submitted -->
        <p *ngIf="formSubmitted">
            Thank you, {{ userName }} {{ userLastName }}! We will contact you at {{ userEmail }}.
        </p>
    </div>
    
</div>

